<h1>Listing twats</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @twats.each do |twat| %>
      <tr>
        <td><%= twat.author %></td>
        <td><%= twat.status %></td>
        <td><%= link_to 'Show', twat %></td>
        <td><%= link_to 'Edit', edit_twat_path(twat) %></td>
        <td><%= link_to 'Destroy', twat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Twat', new_twat_path %>
