<%= form_for(@twat) do |f| %>
  <% if @twat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@twat.errors.count, "error") %> prohibited this twat from being saved:</h2>

      <ul>
      <% @twat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_area :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
